NODE_ENV=development
PORT=4000

# Local SQLite for development.
# For production PostgreSQL this will change later.
DATABASE_URL="file:./dev.db"

JWT_SECRET="change-this-secret"
JWT_EXPIRES_IN="1d"

CLIENT_ORIGINS="http://127.0.0.1:5500,http://localhost:5500,http://127.0.0.1:5510,http://localhost:5510,http://127.0.0.1:5520,http://localhost:5520"